<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
        name="viewport"
    />

    <link
        rel="stylesheet"
        type="text/css"
        media="all"
        href="https://www.fr.globalowner.ford.fr/templates/handover-customer.css"
    />
    <meta content="Dealer PDF Generation" name="author" />
</head>

<body>
<div class="main">
    <div class="header">
        <div class="header-left">
            <div class="logo">
                <img src="https://www.fr.globalowner.ford.fr/images/Ford-Logo.svg" alt="ford-logo" />
            </div>
            <div class="header-title">
                [[ ${pdfHeaderTitle} ]]
            </div>
        </div>
        <div class="vehicleImage">
            <img
                src="https://www.digitalservices.ford.com/fs/api/v2/vehicles/image/full?year=2021&amp;vin=WF0TK3SU5MMA05198&amp;angle=5"
                alt=""
                crossorigin="anonymous"
            />
        </div>
    </div>
    <div class="divider"></div>
    <div class="section section-1">
        <div class="col date">
            <label>[[ ${dateLabel} ]]</label>
            <span>[[ ${date} ]]</span>
        </div>
        <div class="col vehicle-name">
            <label>[[ ${vehicleLabel} ]]</label>
            <span>[[ ${vehicleName} ]]</span>
        </div>
        <div class="col vehicle-vin">
            <label>[[ ${vinLabel} ]]</label>
            <span>[[ ${vin} ]]</span>
        </div>
        <div class="col customer-info">
            <label>[[ ${customerLabel} ]]</label>
            <span>[[ ${customerName} ]] </span>
        </div>
    </div>
    <div class="section section-2">
        <div class="title">
            [[ ${pdfMandatoryFeatures} ]]
        </div>
        <div class="features" >
            <ul>
                <th:block th:each="feature : ${mandatoryFeatures}">
                    <li>
                        <input
                            type="checkbox"
                            id="${'feature'[[${featureStat.index}]]}"
                            name="feature1"
                        />
                        <label for="${'feature'[[${featureStat.index}]]}">[[ ${feature} ]]</label>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
    <div class="section section-3">
        <div class="title">
            [[ ${customerSpecialRequestTitle} ]]
        </div>
        <span
        > [[ ${customerNotes} ]]</span
        >
    </div>
    <div class="section section-4">
        <div class="title">
            [[ ${featuresChosenTitle} ]]
        </div>
        <div class="features">
            <ul>
                <th:block th:each="feature : ${chosenFeatures}">
                    <li>
                        <input
                            type="checkbox"
                            id="${'selected-feature'[[${featureStat.index}]]}"
                            name="feature1"
                        />
                        <label for="${'selected-feature'[[${featureStat.index}]]}"
                        >[[ ${feature} ]]</label
                        >
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
    <div class="section section-5">
        <div class="title">
            [[ ${featuresNotChosenTitle} ]]
        </div>
        <ul>
            <th:block th:each="feature : ${ignoredFeatures}">
                <li>
                    <span class="cross-mark-icon"></span>
                    <span class="feature">[[ ${feature} ]]</span>
                </li>
            </th:block>
        </ul>
    </div>
    <div class="divider"></div>
</div>
</body>
</html>
